.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

h1{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
     background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button{
        border-radius: 30px;
        background: linear-gradient(135deg, #004d7a 0%, #0066a1 100%);
        color: #ffffff;
        border: none;
        height: 40px;
        font-weight: bold;
        cursor: pointer;
        font-size: 14px;
    }

    & button:hover{
        background: linear-gradient(135deg, #0066a1 0%, #0080c8 100%);
    }

    & input{
        padding: 10px;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 40px;
        background-color: #1a2332;
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

.card{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    
    & p{
        color: #fff;
        font-weight: bold;
    }

    & span{
        font-weight: normal;
    }

    & button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ccc;
    }

    & button:hover{
        opacity: 0.4;
    }
}